html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  padding: 0px 40px;
  max-width: 360px;
}

header {
  position: relative;
  padding: 35px 0px;
}

.hero {
  background-image: url("../../assets/ryan-hoffman-Ft4p5E9HjTQ-unsplash.jpg");
  min-height: 475px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  align-items: center;

  & h1 {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.75rem;

  & h1 {
    margin-bottom: 1.875rem;
  }

  & p {
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 1rem;
    &.icons {
      display: flex;
      gap: 1.625rem;
      font-size: 1.875rem;
    }
  }
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .project-card {
    display: flex;
    flex-direction: column;

    & .project-image {
      & img {
        width: 100%;
      }
    }
  }
}
