html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  h1,
  h2 {
    font-family: "Playfair Display", serif;
    margin: 0px;
  }
}

.container {
  position: relative;
  width: 360px;
  border: #000 2px solid;
  // overflow: hidden;

  @include tablet {
    width: 820px;
  }
}

header {
  position: relative;
  padding: 35px 1.875rem;
  .tablet-title {
    display: none;
  }

  @include tablet {
    .hero {
      display: none;
    }

    .tablet-title {
      display: block;
      position: absolute;
      color: #fff;
      right: 8rem;
      top: 8rem;
      z-index: 1;

      h1 {
        font-size: 3rem;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.hero {
  background-image: url("../../assets/ryan-hoffman-Ft4p5E9HjTQ-unsplash.jpg");
  min-height: 475px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  align-items: center;

  & h1 {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  height: 487px;
  width: 100%;
  background-image: url(/assets/wave-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    height: 500px;
    width: 100%;
    background-image: url(/assets/Wave-tablet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.75rem;
  padding: 0px 1rem;

  & h1 {
    margin-bottom: 1.875rem;
  }

  & p {
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 1rem;
    &.icons {
      display: flex;
      gap: 1.625rem;
      font-size: 1.875rem;
    }
  }

  .tablet-hero {
    display: none;
  }

  @include tablet {
    display: block;
    position: relative;
    margin: 9.375rem 5.25rem;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    box-shadow: 2px 2px 5px 4px #e3e3e3;
    background: #fff;

    .tablet-hero {
      position: relative;
      display: block;
      float: left;
      margin-right: -2.75rem;
      margin-bottom: -10.75rem;
      box-shadow: 2px 2px 5px 4px #e3e3e3;
      left: -4rem;
      top: -12rem;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.125rem;
    }
    p.icons {
      display: none;
    }
  }
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 1rem;

  h1 {
    margin-bottom: 1.875rem;
  }

  & .project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.25rem;
    box-shadow: 2px 2px 5px 4px #e3e3e3;

    & .project-image {
      width: 100%;

      // display: flex;
      // align-items: center;
      // justify-content: center;
      // overflow: hidden;
      & img {
        width: 100%;
        height: 17rem;
        object-fit: cover;
      }
    }

    .project-info {
      padding: 1.375rem 1.75rem;

      > p {
        margin-bottom: 3.875rem;
      }

      .project-info-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.375rem;
    padding: 0px 5.25rem;

    .project-image {
      img {
        height: 14rem;
      }
    }

    h1 {
      font-size: 1.625rem;
      grid-column: 1 / 3;
    }
  }
}

footer {
  background: $main;
  color: #ffffff;
  padding: 0px 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1.625rem;
  }

  p:not(:last-child) {
    margin-bottom: 2.625rem;
  }
  .contact-statement {
    font-size: 1.4rem;
  }
  .footer-icons {
    color: #000;
    font-size: 2.875rem;
    display: flex;
    justify-content: center;
    gap: 2.25rem;
    padding-bottom: 5.375rem;
  }
}
