html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 360px;
}

header {
  position: relative;
  padding: 35px 40px;
}

.hero {
  background-image: url("../../assets/ryan-hoffman-Ft4p5E9HjTQ-unsplash.jpg");
  min-height: 475px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  align-items: center;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
